* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.width {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.header {
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;

}

nav ul {
    display: flex;
    gap: 45px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}

.home {
    color: rgb(37, 36, 50);
    font-size: 16px;
    font-weight: 700;
}

.shop {
    color: rgb(137, 135, 161);
    font-size: 16px;
    font-weight: 400;
}

.cart {
    display: none;
}

/* banner  */

.banner {


    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 120px;
}

.banner-text {
    max-width: 50%;
}

.banner-img {
    max-width: 100%;
}

.banner-text h1 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 13px;
}

.color-text {
    color: rgb(233, 90, 8);
}

.paragraph {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.img {
    max-width: 100%;
}

/* Our Plants */

.our-plants {
    margin-bottom: 50px;
    text-align: center;
}

.heading {
    font-size: 50px;
    font-weight: bold;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    text-align: center;
}

.card img {
    margin-bottom: 25px;
}

.card h6 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.card h5 {
    font-size: 22px;
    font-weight: bold;
}

.card button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(233, 90, 8);
    padding: 20px 80px;
    border: none;
    margin-top: 25px;

}

/* Flower & Plants Lover */
.flower-img-container {
    position: relative;

}

.trusted-badge {
    width: 286px;
    position: absolute;
    top: -150px;
    left: 350px;


    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}

.flower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 200px;
}

.flower-text {

    text-align: start;
}

.flower-text ul li {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

/* Latest  Deals */
.deals{
    text-align: center;
}
.deals h1{
    margin-bottom: 16px;
}
.deals h1 span{
    color:rgb(233, 90, 8);
}











@media screen and (max-width: 576px) {

    .navbar ul {
        display: none;
    }

    .cart {
        display: block;
        list-style: none;
    }

    .cart a {
        text-decoration: none;
        color: black;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-text {
        max-width: none;
    }

    .banner-img {
        max-width: none;
    }

    /* card */

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Flower & Plants Lover */
    .flower {
        flex-direction: column;
    }
    .trusted-badge{
        display: none;
    }
}